interval: 30s
log:
  level: info
  format: text  #json/text

fail_threshold: 7
success_threshold: 10

telegram:
  enabled: true
  token: "token"
  chat_id: chat_id
ntfy:
  enabled: true
  url: https://ntfy.sh
  topic: topic_name
  #token:

support:
  enabled: true
  links:
    - title: "CloudTips"
      url: "https://pay.cloudtips.ru/p/123456"
    - title: "Yoomoney"
      url: "https://yoomoney.ru/to/1234567890"

selectel:
  account_id: "XXXXXX"
  project_name: "name"
  username: "username"
  password: "password"


prometheus:
  url: http://localhost:9090


hosts:
  - name: host
    country: SE
    prometheus:
      job: integrations/node_exporter
      instance: xx.domain.com.
    dns:
      zone: zone_id
      record: xx.domain.com.
      ip: XXX.XXX.XXX.XXX

  - name: host2
    country: EE
    prometheus:
      job: integrations/node_exporter
      instance: yy.domain.com
    dns:
      zone: zone_id
      record: yy.domain.com.
      ip: XXX.XXX.XXX.XXX